$lato: 'Lato', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$main-color: #9A9A9A;
$menu-color: #D94343;
$title-color: #333333;
$granite: #DC0000;
$white: #ffffff;
$overlay: rgba(34, 37, 51, 0.4);

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $lato;
    font-size: 18px;
    color: $title-color;
}
.header {
    padding: 16px 0;

    &__logo {
        display: inline-block;
        max-width: 255px;
    }
    &__logo-img {
        max-width: 100%;
    }
    &__nav-link {
        color: $menu-color;

    &:hover {
        color: rgb(255, 28, 28);
    }
    }
    &__nav-item + &__nav-item {
        margin-left: 40px;
    }
    &__nav-toggler {
        border: 1px solid $granite;
        padding: 5px 5px 0;
        font-size: 1.5em; 
        height: 1.5em;
        width: 1.85em;
        &:focus {
            box-shadow: none;
        }
    }
    .fas {
        color: $granite;
    }
}
@media (max-width: 991.98px) {
    .header {
        &__nav-item +&__nav-item {
            margin: 0;
        }
    }
}
.hero {
    min-height: 544px;
    padding: 140px 0 89px;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    background-image: url(../image/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        margin: 0 0 45px;
        font-family: $open-sans;
        font-weight: 300;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0.5em;
    }
    &__ad {
        margin: 0 0 45px;
        font-family: $lato;
        font-weight: 900;
        font-size: 55px;
        line-height: 60px;
    }
    &__ad-secondary {
        margin: 0 0 45px;
        font-family: $open-sans;
        font-weight: 300;
        font-size: 30px;
        line-height: 30px;
    }  
    &__btn {
        color: $white;
        font-weight: 900;
        line-height: 18px;
        padding: 21px 56px;
        border: 1px solid $white;

        &:hover {
            background-color: $white;
        }
    } 
}
.overlay {
    position: relative;
    z-index: 1;

    &::after {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: $overlay;
    }
}
.cat {
    padding: 60px 0;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 419px;
        background-image: url(../image/men.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &--women {
            background-image: url(../image/women.png);
        }
        &--accessories {
            background-image: url(../image/accessories.png);
        }
    }
    &__title {
        margin: 0;
    }
    &__link {
       font-family: $open-sans;
        font-style: italic;
        font-weight: 300;
        font-size: 40px;
        line-height: 40px;
        text-transform: capitalize; 
        text-decoration: none;
        color: $white;
        
        &:hover {
            color: #ccc;
        }
    }
}
.section__title {
    position: relative;
    padding: 28px 0 29px;
    margin: 0 0 60px;
    font-family: $open-sans;
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    line-height: 40px;
    text-transform: capitalize;

    &::before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 115px;
        height: 3px;
        background-color: $granite;
        content: "";
    }
    &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 115px;
        height: 3px;
        background-color: $granite;
        content: "";
    }
}
.blog {
        margin-bottom: 86px;

    &__item {
        display: flex;
        flex-direction: column;       
    }
    &__title {
        margin: 20px 0 15px;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: $granite;
    }
    &__autor {
        padding: 15px 0 14px;
        font-weight: 400;
        text-transform: capitalize;
        border-bottom: 2px solid #ECF0F1;
    }
    &__desc {
        line-height: 22px;
        text-transform: capitalize;
        margin: 15px 0;
    }
    &__btn {
        font-family: $open-sans;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        color: $title-color;
        border: 1px solid $title-color;
        padding: 4px 25px;
        border-radius: 0;
        margin-bottom: 15px;

        &:hover {
            background-color: #000;
            color: $white;
        }
    }
}
.footer {
    background-image: url(/image/footer-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__copyright {
        padding: 65px 0;
        font-family: $open-sans;
        font-style: italic;
        font-weight: 300;
        font-size: 20px;
        text-transform: capitalize;
        color: $white;
    }
}